<header>
    <div class="start-menu-container">
        <div class="mobile-menu">
            <div class="mobile-menu__icon"></div>
            <div class="mobile-menu__title">MENU</div>
        </div>
        <div class="start-logo">
            <img class="start-logo__logo" src="./images/logo.png">
        </div>
        <h1 class="start-logo__title">Find Someone to Click With</h1>
        <div class="get-start">
            <a class="get-start__link">
                <div class="get-start__conteiner">
                    <span>Get Started</span>
                    <img src="./images/arrow.png">
                </div>
            </a>
        </div>
        <div class="column-stickers">
            <div class="column-sticker column-sticker_item_1">
                <div class="column-sticker__image column-sticker__image_1"></div>
                <div class="column-sticker__h column-sticker__h_item_1"><h2>One World</h2></div>
            </div>
            <div class="column-sticker column-sticker_item_2">
                <div class="column-sticker__image column-sticker__image_2"></div>
                <div class="column-sticker__h column-sticker__h_item_2"><h2>Two Hearts</h2></div>
            </div>
            <div class="column-sticker column-sticker_item_3">
                <div class="column-sticker__image column-sticker__image_3"></div>
                <div class="column-sticker__h column-sticker__h_item_3"><h2>One Site</h2></div>
            </div>
        </div>
    </div>
    {{> includes/social/social}}
</header>