$black-purple-color: #2f1946;
$turquoise-color: #00cfae;

.main-welcome {
  color: white;
}
.welcome-title {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.welcome-title img {
  width: 60px;
  height: 60px;
}
.welcome-title h2 {
  margin: 0 0 0 12px;
  color: $black-purple-color;
  font-family: Dosis;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
}
.quote__text p {
  color: $black-purple-color;
  margin: 0px;
  text-align: center;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  width: 784px;
}
.quote__autor p {
  text-align: right;
  margin: 0;
  width: 784px;
  color: #fe4a5d;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.news {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.news__form {
  display: flex;
  align-items: center;
}
.news__title {
  color: $turquoise-color;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 700;
  margin-right: 15px;
}
.news__input {
  width: 250px;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #cdcdcd;
  background-color: white;
  outline:none;
}
.news__input:hover {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
}
.news__input:focus {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
}
.news__input[placeholder] {
  color: #cacaca;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.news__submit {
  outline:none;
  padding: 12px 27px;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: $turquoise-color;
  margin-left: -4px;

  color: #fefefe;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.news__submit:hover {
  border-radius: 0 3px 3px;
  background-color: #0dd1b2;
}
.news__submit:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 3px 3px 0;
  background-color: #0dd1b2;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}