<div class="main-registration">
    <div class="registration-container">
        <div class="registration-container_white">
            <div class="registration-title">
                <h2>IT`S FREE TO JOIN</h2>
            </div>
            <div class="registration-facebook">
                <a><img src="./images/f.png">Sign up with Facebook</a>
            </div>
            <div class="registration-hr">
                <div class="hr"></div>
                <span>or</span>
                <div class="hr"></div>
            </div>
            <div class="registration-form">
                <form method="post" name="registration" id="registration-form">
                    <div class="form-div">
                        <input class="form__input" id="email" name="email" type="text" placeholder="Email">
                    </div>
                    <div class="form-div">
                        <input class="form__input" id="username" name="username" type="text" placeholder="Username">
                    </div>
                    <div class="form-div">
                        <input class="form__input" id="password" name="password" type="password" placeholder="Password">
                    </div>
                    <div class="form-div">
                        <input class="form__input" id="confirm_password" name="confirm_password" type="password"
                               placeholder="Confirm password">
                    </div>
                    <div class="form-sumbit">
                        <input class="form-sumbit__button" form="registration" type="submit" value="LET'S GO!">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>