.main-join-now {
  min-height: 725px;
  display: flex;
  background: url("./images/joinnow.jpg") no-repeat center;
  background-color: #763280;
}
.join-now__link {
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 202px;
}