$black-purple-color: #2f1946;
.footer-box {
  height: 70px;
  border-radius: 1px;
  background-color: #fafafa;
  display: flex;
}
.footer-menu {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  li {
    float: left;
  }
  li a {
    display: block;
    text-align: center;
    padding: 20px 39px;
    text-decoration: none;
    color: #3d2852;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  li a:hover {
    background-color: #f2f2f2;
  }
  li a:active {
    color: #0fcba9;
  }
}

.country {
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.country__img {
  margin: 30px 11px;
  width: 16px;
  height: 11px;
  background-image: url(./images/27-country.png);
}
.copyright {
  margin: auto;
  width: 800px;
  height: 11px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
  padding-top: 12px;
  color: $black-purple-color;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.country__img_item_1 {}
.country__img_item_2 {
  background-position: 16px 0px;
}
.country__img_item_3 {
  background-position: 43px 0px;
}
.country__img_item_4 {
  background-position: 70px 0px;
}
.country__img_item_5 {
  background-position: 96px 0;
}
.country__img_item_5 {
  background-position: 123px 0;
}
.country__img_item_6 {
  background-position: 149px 0;
}
.country__img_item_7 {
  background-position: 176px 0;
}
.country__img_item_8 {
  background-position: 203px 0;
}
.country__img_item_9 {
  background-position: 230px 0;
}
.country__img_item_10 {
  background-position: 256px 0;
}
.country__img_item_11 {
  background-position: 283px 0;
}
.country__img_item_12 {
  background-position: 310px 0;
}
.country__img_item_13 {
  background-position: 336px 0;
}
.country__img_item_14 {
  background-position: 363px 0;
}
.country__img_item_15 {
  background-position: 390px 0;
}

@media only screen and (min-device-pixel-ratio: 2.0) {

}
@media only screen and (max-width: 768px) {

}