<footer>
    <div class="footer-menu">
        <div class="footer-menu__item"><a href="#registration">about</a></div>
        <div class="footer-menu__item"><a href="#registration">Contact</a></div>
        <div class="footer-menu__item"><a href="#registration">FAQs</a></div>
        <div class="footer-menu__item"><a href="#registration">Blog</a></div>
        <div class="footer-menu__item"><a href="#registration">Online Safety</a></div>
        <div class="footer-menu__item"><a href="#registration">Privacy Policy</a></div>
        <div class="footer-menu__item"><a href="#registration">Terms of Use</a></div>
    </div>
    <div class="country">
        <a class="country__img country__img_item_1" href="#registration"></a>
        <a class="country__img country__img_item_2" href="#registration"></a>
        <a class="country__img country__img_item_3" href="#registration"></a>
        <a class="country__img country__img_item_4" href="#registration"></a>
        <a class="country__img country__img_item_5" href="#registration"></a>
        <a class="country__img country__img_item_6" href="#registration"></a>
        <a class="country__img country__img_item_7" href="#registration"></a>
        <a class="country__img country__img_item_8" href="#registration"></a>
        <a class="country__img country__img_item_9" href="#registration"></a>
        <a class="country__img country__img_item_10" href="#registration"></a>
        <a class="country__img country__img_item_11" href="#registration"></a>
        <a class="country__img country__img_item_12" href="#registration"></a>
        <a class="country__img country__img_item_13" href="#registration"></a>
        <a class="country__img country__img_item_14" href="#registration"></a>
        <a class="country__img country__img_item_15" href="#registration"></a>
    </div>
    <div class="copyright">© 2017 All World Dating Enterprise Company LLC. All rights reserved. We pledge never to share or sell your Email Address.</div>
</footer>