<div class="social-list">
    <a class="social-link" href="#registration"><div class="social-item social-item_share"></div></a>
    <a class="social-link" href="#registration"><div class="social-item social-item_facebook"></div></a>
    <a class="social-link" href="#registration"><div class="social-item social-item_instagram"></div></a>
    <a class="social-link" href="#registration"><div class="social-item social-item_twitter"></div></a>
</div>